.animated-text-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.animated-text-line {
  display: flex;
  align-items: center;
  color: var(--black);
}

.dark-mode {
  color: #fafafa;
  font-size: 1.3rem;
  margin-right: 10px;
}

.dark-mode-icon {
  font-size: 1.5rem;
  color: #fafafa;
}

.animated-text-line-span {
  font-size: 1.3rem;
  line-height: 1.9;
  font-weight: 700;
}

.animated-text-line-span-dark-mode {
  font-size: 1.3rem;
  line-height: 1.5;
  font-weight: 700;
}

@media (max-width: 768px) {
  .animated-text-line {
    font-size: 0.9rem;
  }

  .animated-text-line i {
    font-size: 1.2rem;
  }
}
