.n-wrapper {
  height: 8vh;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  background-color: rgba(246, 210, 210, 0.9);
  z-index: 1000;
}

.n-wrapper.hidden {
  transform: translateY(-100%);
  transition: transform 0.5s ease-in-out;
}

.n-wrapper.visible {
  transform: translateY(0);
  transition: transform 0.8s ease-in-out;
}

.n-left {
  padding-left: 3.5rem;
  flex: 1;
  align-items: center;
  justify-content: left;
  display: flex;
  gap: 2rem;
}

.n-name {
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}

.n-right {
  padding-right: 3.5rem;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-weight: 400;
  font-size: 20px;
}

.n-list > ul {
  display: flex;
  gap: 3rem;
  margin-right: 2rem;
}

.n-list > ul :hover {
  color: var(--main);
  transition: ease-in-out;
  cursor: pointer;
  transform: scale(1.2);
  transition-duration: 0.3s;
}

.n-button {
  flex: 2;
  height: 44px;
  color: white;
  background-color: var(--main);
  border: none;
}

@media screen and (max-width: 480px) {
  .n-wrapper {
    height: 6vh;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    background-color: rgba(246, 210, 210, 0.9);
    z-index: 1000;
  }
  .n-list {
    display: none;
  }

  /* .n-button {
    margin-right: 1.5rem;
  } */

  .n-left {
    padding-left: 1rem;
  }

  .n-right {
    padding-right: 1.5rem;
  }
}
