.Intro {
  display: flex;
  height: 77vh;
  margin-top: 8rem;
  justify-content: space-between;
  align-content: center;
}

@media screen and (max-width: 1500px) {
  .Intro {
    margin-top: 6rem;
    height: 100vh;
    display: flex;
  }

  .i-right {
    display: flex;
    flex: 1;
  }
}

.i-left {
  display: flex;
  flex: 1.2;
  flex-direction: column;
}

.i-type {
  display: flex;
  width: 90%;
  font-size: 1rem !important;
}

.i-name {
  display: flex;
  flex-direction: column;
  line-height: 1.1;
}

/* Estilos normales */
.i-name > :nth-child(1) {
  color: var(--black);
  font-weight: bold;
  font-size: 4rem;
  margin-bottom: 2rem;
}

.i-name > :nth-child(2) {
  color: var(--main);
  font-weight: bold;
  font-size: 4rem;
}

.i-name.dark-mode-i-name > :nth-child(1) {
  color: #fafafa;
  font-weight: bold;
  font-size: 4rem;
  line-height: inherit;
}

.i-name.dark-mode-i-name > :nth-child(2) {
  color: var(--main) !important;
  font-weight: bold;
  font-size: 4rem;
  line-height: inherit;
}

.i-icons {
  position: relative;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  z-index: 1000;
}
.i-icons > * {
  transform: scale(0.5);
}
.i-icons > *:hover {
  cursor: pointer;
  transform: scale(0.6);
  transition-duration: 0.4s;
}

.sticky-container {
  position: absolute;
  transform: translateY(250%);
  display: flex;
  align-items: center;
  gap: 20px;
  z-index: 1000;
  margin-top: 14rem;
}
.i-button {
  margin: 0;
  color: #d272ac;
  font-weight: 700;
  background-color: #f5eaf8;
  border-color: #d272ac;
  border-width: 3px;
  border-style: solid;
  display: inline-block;
  white-space: nowrap;
  padding: 11px 26px;
  max-height: fit-content;
  text-decoration: none !important;
  outline: none !important;
  box-shadow: none;
}

.i-button.dark-mode {
  background-color: #121212;
  font-size: inherit;
  line-height: normal;
}
/* right side styling */

.i-right {
  flex: 1;
  position: relative;
}
.i-right > * {
  position: absolute;
  z-index: 1;
}
.i-right > :nth-child(1) {
  transform: scale(0.69);
  left: -15%;
  top: -9%;
}
.i-right > :nth-child(2) {
  top: -4.6rem;
  transform: scale(0.67);
  left: -3rem;
}
.i-right > :nth-child(3) {
  transform: scale(1.4);
  left: 28%;
}
.i-right > :nth-child(4) {
  top: -19%;
  left: -24%;
  border-radius: 50%;
  padding: 0;
}

/* blur */
.blur {
  position: absolute;
  width: 22rem;
  height: 14rem;
  border-radius: 50%;
  background: #edd0ff;
  filter: blur(212px);
  z-index: -9;
  top: -5%;
  left: 56%;
  filter: blur(72px);
}

@media screen and (max-width: 480px) {
  .Intro {
    flex-direction: column;
    gap: 0rem;
    height: 100vh;
    margin-top: 7rem;
    margin-left: 1rem;
  }

  .i-left {
    display: flex;
    position: relative;
    flex-direction: column;
    margin: 0;
  }

  .i-name {
    line-height: 1.1;
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
  }

  .i-name > :nth-child(1) {
    color: var(--black);
    font-weight: bold;
    font-size: 4rem;
    line-height: inherit;
  }

  .i-name > :nth-child(2) {
    color: var(--main);
    font-weight: bold;
    font-size: 4rem;
    line-height: inherit;
  }

  .dark-mode-i-name {
    display: flex !important;
    flex-direction: column !important;
  }

  .i-name.dark-mode-i-name > :nth-child(1) {
    color: #fafafa;
    font-weight: bold;
    font-size: 4rem;
    line-height: inherit;
    display: flex !important;
    flex-direction: column !important;
  }

  .i-name.dark-mode-i-name > :nth-child(2) {
    color: var(--main) !important;
    font-weight: bold;
    font-size: 4rem;
    line-height: inherit;
    display: flex;
    flex-direction: column;
  }

  .sticky-container {
    position: absolute;
    transform: translateX(-0%) translateY(700%);
    display: flex;
    align-items: center;
    gap: 10px;
    z-index: 1000;
    margin: 0 !important;
    padding: 0;
  }

  .i-button {
    margin: 8px !important;
    padding: 10px !important;
    color: #d272ac;
    font-weight: 600;
    background-color: #f5eaf8;
    border-color: #d272ac;
    border-width: 2px;
    border-style: solid;
    display: inline-block;
    text-decoration: none !important;
    outline: none !important;
    box-shadow: none;
    width: 100%;
    font-size: smaller !important;
  }

  .i-right {
    width: 50%;
    margin-top: 55rem;
    margin-bottom: 15rem;
    position: absolute;
    scale: 0.7;
    transform: translateX(-40%) translateY(70%);
  }

  .i-right .blur {
    z-index: -1000;
    width: 100%;
    filter: blur(70px);
  }

  .i-icons {
    margin-top: 0;
  }

  .floating-div {
    display: none;
  }
}
