.footer {
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 120px;
  margin-bottom: 0;
  height: 246px;
}

.wave {
  width: 100hv;
  margin-left: -20rem;
}

.f-content {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin: 0;
  gap: 4rem;

  color: white;
}
.f-icons {
  margin: 0;
  display: flex;
  gap: 2rem;
}

.f-icons :hover {
  transform: scale(1.1);
  transition-duration: 0.8s;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .f-content {
    transform: scale(0.5);
  }

  .footer {
    margin-top: 5rem;
    height: 10rem;
  }

  .f-content {
    margin-top: 0;
  }
}
