.footer {
  display: flex;
  align-items: center;
  position: relative;
  margin-top: -7rem;
  margin-bottom: 0;
}

.wave{
  width: 100hv;
  margin-left: -20rem;
}

.f-content {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin-top: 4rem;
  gap: 4rem;
  margin-top: 4rem;
  color: white;
}
.f-icons {
  display: flex;
  gap: 2rem;
}

@media screen and (max-width: 480px){
  .f-content{
    transform: scale(.5);
  }

  .footer{
    margin-top: 5rem;
    height: 10rem;
  }

  .f-content{
    margin-top: 0;
  }
}
