* {
  font-family: 'Poppins';
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;
  background-image: url('./img/bg-img1.jpg');
  background-color: #f5eaf8;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  transition: background-image 0.5s ease-in-out;
}

body.dark-mode {
  background-image: url('./img/bg-img-dark-1.png');
  background-color: #121212;
}

:root {
  --black: #242d49;
  --gray: #788097;
  --blueCard: #ddf8fe;
  --purple: rgb(238 210 255);
  --boxShadow: 0px 19px 60px rgb(0 0 0 / 8%);

  --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);

  --main: #d272ac;
  --mainCard: rgba(210, 114, 172, 0.5);
  --background: #f5eaf8;
}

.App {
  margin: 0;
  padding: 0.5rem 3.5rem 0 3.5rem;
  /* Removed bottom padding */
  overflow-x: hidden;
  color: var(--black);
  min-height: 100vh;
  z-index: 0;
  /* permite usar el pseudo-elemento detrás */
}

@media screen and (max-width: 1024px) {
  .App {
    padding: 0;
  }
}

.button {
  border-radius: 6px;
  font-size: 16px;
  padding: 11px 26px 11px 26px;
  text-decoration: none;
  text-decoration-line: none !important;
  outline: none;
}

.button:hover {
  transform: scale(1.05);
  transition-duration: 0.2s;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .App {
    padding: 0rem 0rem 0rem 0rem;
    margin: 0rem 0rem 0rem 0rem;
    overflow-x: hidden;
    width: 100%;
  }
}

@media screen and (min-width: 1300px) {
  .App {
    padding: 0rem 12rem;
  }
}